
html, body {
  height: 100%;
  font-family: november;
}
canvas {
	font-family: november;
  @font-face { font-family: november; src: url('./november.ttf'); } 
  display: block;
}
body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
@font-face { font-family: november; src: url('./november.ttf'); } 

